.barChart {
    width: 65%;
    height: 400px;
    justify-self: center;
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    z-index: 2;
    --income-light: #a5d6a7;
    --income-dark: #388e3c;
    margin-top: -168.5%;
}